name: TitleAnnouncer Maven Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    
    - name: Set up JDK 16
      uses: actions/setup-java@v2.2.0
      with:
        java-version: 16
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      uses: nick-invision/retry@v2.4.1
      with:
        timeout_minutes: 4
        max_attempts: 2
        command: mvn -B package --file pom.xml
